@import "../Vars.scss";

.detail__modal{
    width: 100%;
    height: 100vh;
    background: rgba($color-secundary,0.7);
    border: 1px solid rgba($color-principal,1);
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: fixed;
}

.detail__modal__wrapper{
    width: 70%;
    height: 60%;
    background: rgba($color-principal,1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-radius: 10px;
    padding: 4px;
}

.detail__modal__wrapper__title{
    background-color: rgba($color-secundary,1);
    border: 2px solid white;
    color: white;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.detail__modal__wrapper__title--img{
    margin-right: 6px;
    border-radius: 5px;
    background-color: white;
}

.detail__modal__wrapper__title--img:hover{
    background: rgba($color-principal,0.3);
    cursor: pointer;
}
.detail__modal__wrapper__title--img:focus{
    background: rgba($color-principal,0.5);
    outline: none;
}

.detail__modal__wrapper__body{
    background-color: white;
    width: 100%;
    border: 6px white solid;
    height: calc(100% - 30px);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.detail__modal__body__table{
    width: 100%;
    border-spacing: 1px;
    margin-bottom: 6px;
}