@import "../Vars.scss";

.navegation{
    background-color: rgba($color-secundary, 1);
    height: 40px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.navegation__account{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 10px;
}

.navegation__period{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
    cursor: pointer;
    outline: none;
}

.navegation__period__current{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    cursor: pointer;
    outline: none;
}

.navegation__period.active:hover .navegation__period__list{
    display: flex;
}

.navegation__period__img{
    padding-left: 6px;
    width: 25px;
    color: white;
}



.navegation__period__list{
    display: none;
    width: 100px;
    padding: 0px;
    position: absolute;
    top: 130px;
    right: 25px;
    text-align: right;
    background-color: rgba($color-principal,1);
    overflow: scroll;
    max-height: 200px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    border: 6px solid white;
}


.navegation__period__list__item{
    width: 100%;
    text-align: center;
    padding: 10px;
    color: black;
}

.navegation__period__list__item:hover{
    background-color: rgba($color-secundary,1);
    color: black;
    cursor: pointer;
}