@import "../Vars.scss";

.subTree{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
}

.subTree__title{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subTree__title a:hover{
    text-decoration: none;
}

.subTree__title__tab{
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: rgba($color-secundary,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

.subTree__title__tab.active:hover,
.subTree__title__tab:hover{
    background-color: rgba($color-secundary,0.8);
    color: black;
    cursor: pointer;
}

.subTree__title__tab.active{
    background-color: rgba($color-secundary,1);
}

.subTree__body{
    width: 100%;
    height: calc(100% - 35px);
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 0px 0px 10px 10px;
    padding: 6px;
}

.subTree__body ul,
.subTree__body li{
    list-style-type:none;
    background-color: white;
    padding-left: 3px;
    width: 100%;
}

.subTree__body__wrapper{
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.subTree__body__wrapper__item{
    width: 100%;
    padding: 2px;
}
.subTree__body__wrapper__item:hover{
    width: 100%;
    background-color: rgba($color-secundary,0.8);
    cursor: pointer;
}
