@import "./Vars.scss";

.login .main{
    background-color: rgba(white,1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__form{
    width: 30%;
    height: 50%;
    border: 3px solid rgba($color-principal,1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.login__form__title{
    background-color: rgba($color-secundary,1);
    border: 2px solid white;
    color: white;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.login__form__body{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__form__body input{
    width: 80%;
    margin: 10px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    text-align:center;
}

.login__form__body button{
    width: 80%;
    margin: 10px;
    height: 30px;
    background-color: rgba($color-principal,1);
    color: white;
    border-radius: 5px;
    border: none;
}

.login__form__body button:hover{
    background-color: rgba($color-principal,0.5);
    color: black;
    border: 1px solid rgba($color-principal,1);
    cursor: pointer;
}

.login__form__body button:focus{
    background-color: rgba($color-principal,0.2);
    color: black;
    border: 1px solid rgba($color-principal,1);
    cursor: pointer;
    outline:none;
}

.login__form__body input:focus{
    outline:none;
}